html{
    background: #222;
    font-family: Sans-Serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #EEE;
}

body{
    max-width: 800px;
    margin-left: 100px;
}

h1{
    color: #F80;
    font-size: 2.2em;
}

h2{
    color: #F80;
    font-size: 1.6em;
}

h3{
    color: #69F;
    font-size: 1.4em;
}

h4{
    font-size: 1.2em;
}

ol.h3list {
    list-style: none;
    counter-reset: h3-counter;
}

ol.h3list > li {
    counter-increment: h3-counter;
}

ol.h3list > li::before{
    content: counter(h3-counter) "";
    color: #69F;
    font-size: 1.4em;
    float: left;
    position: relative;
    right: 1em;
}

footer > p{
    font-size: 0.8em;
}

img{
    display:block;
    max-width: 100%;
}
