:root {
    --lys-bakgrunn: #EAE7DC;
    --beige-bakgrunn: #D8C3A5;
    --graa: #8E8D8A;
    --lys-roed: #E98074;
    --hoved-roed: #E85A4F;
    --nesten-svart: #333333;
    --nesten-hvit: #F5F4ED;
}
