:root {
    /* Color Palette */
    --light-bg: #EAE7DC;
    --beige-bg: #D8C3A5;
    --gray: #8E8D8A;
    --light-red: #E98074;
    --main-red: #E85A4F;
    --dark: #333333;
    --light: #F5F4ED;

    /* Fonts */
    --main-font: Lato, sans-serif;

    /* Other variables */
    --page-width: 1280px;
}

*{
    /* Setting all elements to use border-box. */
    /* Makes the padding and border included in the calculation */
    /* of the width and height of elements. */
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
    background-color: var(--gray);
    padding: 20px;
    margin: 0;
}

@media only screen and (max-width: 1280px){
    body{
        padding: 0px;
    }
}

a:hover{
    cursor:pointer;
}

header{
    background-color: var(--dark);
    color: var(--main-red);
}

footer{
    background-color: var(--beige-bg);
}

.flexrow{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#container{
    background-color: var(--light-bg);
    width: var(--page-width);
    margin: 0 auto;
}

#content{
    padding: 16px;
}

#content:after{
    content: "";
    display: table;
    clear: both;
}

#leftcolumn{
    width: 50%;
    float: left;
    padding: 16px;
}

#rightcolumn{
    width: 50%;
    float: right;
    height: 50em;
    overflow-y: auto;
    padding: 16px;
    border: solid var(--gray) 3px;
    border-radius: 5px;
}

@media only screen and (max-width: 1280px){
    #container{
        width: 100%;
    }

    #leftcolumn{
        width:100%;
    }

    #rightcolumn{
        width:100%;
    }
}

#rightcolumn>h1{
    text-align:center;
}

a.button{
    display: block;
    padding: 16px;
    background: var(--light-red);
    border-radius: 5px;
    font-size: 2em;
    color:inherit;
    text-decoration: none;
    text-align: center;
    margin: 16px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3), 5px 5px 5px rgba(0,0,0,0.5);
    width: 300px;
}

div.pictureGallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    grid-gap: 32px 32px;
    justify-content: center;
}

div.audioGallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,330px);
    grid-gap: 32px 32px;
    justify-content: center;
}

.frame{
    background-color: var(--beige-bg);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3), 5px 5px 5px rgba(0,0,0,0.5);
}

.frame>h2{
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

.gallery>.frame>p{
    margin: 0;
    margin-top: 16px;
}
